[Unit]
Description=compton compositor (inside VcXsrv)
After=herbst.service
BindsTo=herbst.service

[Service]
Type=simple
Environment=DISPLAY=localhost:0.0
ExecStart=/usr/bin/compton

[Install]
WantedBy=basic.target
